---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import "../assets/css/main.css";
import fajr from "../assets/images/fajr.jpg";
import dhuhr from "../assets/images/dhuhr.jpg";
import asr from "../assets/images/asr.jpg";
import maghrib from "../assets/images/maghrib.jpg";
import isha from "../assets/images/isha.jpg";

// Define a function to convert 24-hour time format to 12-hour AM/PM format
const convertToAMPM = (time) => {
  const [hours, minutes] = time.split(":").map(Number);
  const period = hours >= 12 ? "PM" : "AM";
  const convertedHours = (hours % 12 || 12).toString().padStart(2, "0");
  return `${convertedHours}:${minutes.toString().padStart(2, "0")} ${period}`;
};

try {
  // Get user location (country and city) from IP address
  const { ip } = await fetch("https://api.ipify.org?format=json").then((res) =>
    res.json()
  );
  const { country_name: country, city } = await fetch(
    `https://ipapi.co/${ip}/json/`
  ).then((res) => res.json());

  // Get prayer times for today in the user's city and country
  const date = new Date()
    .toLocaleDateString("en-GB", {
      day: "2-digit",
      month: "2-digit",
      year: "numeric",
    })
    .replace(/\//g, "-"); // DD-MM-YYYY format
  const {
    data: { timings },
  } = await fetch(
    `http://api.aladhan.com/v1/timingsByCity/${date}?city=${city}&country=${country}&method=2`
  ).then((res) => res.json());

  // Convert timings to 12-hour AM/PM format
  var convertedTimings = Object.fromEntries(
    Object.entries(timings).map(([key, value]) => [
      key.toLowerCase(),
      convertToAMPM(value),
    ])
  );
} catch (error) {
  console.error("An error occurred:", error);
}
---

<Layout title="Azan | Prayer Times">
  <main>
    <div class="container">
      <ul>
        <li id="Fajr">
          <Image src={fajr} alt="Fajr" />
          <span>
            <b>Fajr:</b>
            {convertedTimings.fajr || "Loading..."}
          </span>
        </li>
        <li id="Dhuhr">
          <Image src={dhuhr} alt="Dhuhr" />
          <span>
            <b>Dhuhr:</b>
            {convertedTimings.dhuhr || "Loading..."}
          </span>
        </li>
        <li id="Asr">
          <Image src={asr} alt="Asr" />
          <span>
            <b>Asr:</b>
            {convertedTimings.asr || "Loading..."}
          </span>
        </li>
        <li id="Maghrib">
          <Image src={maghrib} alt="Maghrib" />
          <span>
            <b>Maghrib:</b>
            {convertedTimings.maghrib || "Loading..."}
          </span>
        </li>
        <li id="Isha">
          <Image src={isha} alt="Isha" />
          <span>
            <b>Isha:</b>
            {convertedTimings.isha || "Loading..."}
          </span>
        </li>
      </ul>
    </div>
  </main>
</Layout>
